<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movilapp">

    <!-- Permiso para el acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permisos para el almacenamiento (para versiones de Android 10 y anteriores) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permiso para gestionar el almacenamiento en Android 11+ (API 30) y superior -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!-- Para compatibilidad con Android 10 (API 29) y anteriores -->
    <application
        android:label="movilapp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
